Repository E3SM-Project/polaris, pull requests merged in 2023-10, with the labels that each got.

#125 Add support for shared config options
  deploy/default.cfg
  docs/developers_guide/api.md
  docs/developers_guide/framework/config.md
  docs/developers_guide/framework/remapping.md
  docs/developers_guide/ocean/framework.md
  docs/developers_guide/organization/steps.md
  docs/developers_guide/organization/tasks.md
  docs/users_guide/seaice/tasks/template.md
  polaris/component.py
  polaris/config.py
  polaris/mesh/spherical.cfg
  polaris/ocean/mesh/spherical.py
  polaris/ocean/tasks/baroclinic_channel/__init__.py
  polaris/ocean/tasks/baroclinic_channel/decomp/__init__.py
  polaris/ocean/tasks/baroclinic_channel/default/__init__.py
  polaris/ocean/tasks/baroclinic_channel/restart/__init__.py
  polaris/ocean/tasks/baroclinic_channel/rpe/__init__.py
  polaris/ocean/tasks/baroclinic_channel/threads/__init__.py
  polaris/ocean/tasks/cosine_bell/__init__.py
  polaris/ocean/tasks/cosine_bell/analysis.py
  polaris/ocean/tasks/inertial_gravity_wave/__init__.py
  polaris/ocean/tasks/manufactured_solution/__init__.py
  polaris/ocean/tasks/single_column/cvmix/__init__.py
  polaris/ocean/tasks/single_column/ideal_age/__init__.py
  polaris/run/serial.py
  polaris/setup.py
  polaris/step.py
  polaris/task.py
Labels: enhancement, framework, ocean

#128 Raise error only at task level on baseline failure
  polaris/run/serial.py
Labels: bug, framework

#127 Use MPAS-Tools for great circle distance in cosine bell tests
  docs/developers_guide/ocean/api.md
  docs/users_guide/ocean/tasks/cosine_bell.md
  docs/users_guide/ocean/tasks/images/cosine_bell_init.png
  polaris/ocean/tasks/cosine_bell/analysis.py
  polaris/ocean/tasks/cosine_bell/init.py
Labels: enhancement, ocean

#129 Use common matplotlib style sheet in all ocean plots
  docs/developers_guide/api.md
  docs/developers_guide/framework/visualization.md
  polaris/ocean/convergence/spherical/analysis.py
  polaris/ocean/tasks/baroclinic_channel/rpe/analysis.py
  polaris/ocean/tasks/cosine_bell/viz.py
  polaris/ocean/tasks/inertial_gravity_wave/viz.py
  polaris/ocean/tasks/manufactured_solution/viz.py
  polaris/ocean/tasks/single_column/viz.py
  polaris/viz/__init__.py
  polaris/viz/planar.py
  polaris/viz/spherical.py
  polaris/viz/style.py
Labels: clean-up, framework, ocean

#130 Clean up and add method to spherical convergence analysis
  docs/developers_guide/api.md
  docs/developers_guide/framework/index.md
  docs/developers_guide/framework/mpas.md
  docs/developers_guide/ocean/api.md
  docs/developers_guide/ocean/framework.md
  polaris/mpas/__init__.py
  polaris/mpas/area.py
  polaris/mpas/time.py
  polaris/ocean/convergence/spherical/analysis.py
Labels: enhancement, clean-up, framework, ocean

#133 Only print task baseline status if basline compared
  polaris/run/serial.py
Labels: bug, framework

#131 Enhance shared convergence steps
  docs/developers_guide/ocean/api.md
  docs/developers_guide/ocean/framework.md
  docs/developers_guide/ocean/tasks/cosine_bell.md
  docs/developers_guide/ocean/tasks/inertial_gravity_wave.md
  docs/developers_guide/ocean/tasks/manufactured_solution.md
  docs/users_guide/ocean/tasks/cosine_bell.md
  docs/users_guide/ocean/tasks/images/inertial_gravity_wave_convergence.png
  docs/users_guide/ocean/tasks/inertial_gravity_wave.md
  docs/users_guide/ocean/tasks/manufactured_solution.md
  polaris/ocean/convergence/__init__.py
  polaris/ocean/convergence/analysis.py
  polaris/ocean/convergence/convergence.cfg
  polaris/ocean/convergence/forward.py
  polaris/ocean/convergence/spherical/__init__.py
  polaris/ocean/convergence/spherical/forward.py
  polaris/ocean/convergence/spherical/spherical.cfg
  polaris/ocean/suites/convergence.txt
  polaris/ocean/tasks/cosine_bell/__init__.py
  polaris/ocean/tasks/cosine_bell/analysis.py
  polaris/ocean/tasks/cosine_bell/cosine_bell.cfg
  polaris/ocean/tasks/cosine_bell/forward.py
  polaris/ocean/tasks/cosine_bell/init.py
  polaris/ocean/tasks/cosine_bell/viz.py
  polaris/ocean/tasks/inertial_gravity_wave/__init__.py
  polaris/ocean/tasks/inertial_gravity_wave/analysis.py
  polaris/ocean/tasks/inertial_gravity_wave/exact_solution.py
  polaris/ocean/tasks/inertial_gravity_wave/forward.py
  polaris/ocean/tasks/inertial_gravity_wave/forward.yaml
  polaris/ocean/tasks/inertial_gravity_wave/inertial_gravity_wave.cfg
  polaris/ocean/tasks/inertial_gravity_wave/viz.py
  polaris/ocean/tasks/manufactured_solution/__init__.py
  polaris/ocean/tasks/manufactured_solution/analysis.py
  polaris/ocean/tasks/manufactured_solution/forward.py
  polaris/ocean/tasks/manufactured_solution/forward.yaml
  polaris/ocean/tasks/manufactured_solution/init.py
  polaris/ocean/tasks/manufactured_solution/manufactured_solution.cfg
  polaris/ocean/tasks/manufactured_solution/viz.py
Labels: enhancement, framework, ocean

#120 Add geostrophic convergence test (Williamson Test 2)
  docs/developers_guide/ocean/api.md
  docs/developers_guide/ocean/tasks/cosine_bell.md
  docs/developers_guide/ocean/tasks/geostrophic.md
  docs/developers_guide/ocean/tasks/index.md
  docs/users_guide/ocean/suites.md
  docs/users_guide/ocean/tasks/cosine_bell.md
  docs/users_guide/ocean/tasks/geostrophic.md
  docs/users_guide/ocean/tasks/images/geostrophic_convergence.png
  docs/users_guide/ocean/tasks/images/geostrophic_h.png
  docs/users_guide/ocean/tasks/images/geostrophic_u.png
  docs/users_guide/ocean/tasks/index.md
  polaris/ocean/__init__.py
  polaris/ocean/cached_files.json
  polaris/ocean/suites/convergence.txt
  polaris/ocean/suites/geostrophic.txt
  polaris/ocean/tasks/cosine_bell/viz.py
  polaris/ocean/tasks/geostrophic/__init__.py
  polaris/ocean/tasks/geostrophic/analysis.py
  polaris/ocean/tasks/geostrophic/exact_solution.py
  polaris/ocean/tasks/geostrophic/forward.py
  polaris/ocean/tasks/geostrophic/forward.yaml
  polaris/ocean/tasks/geostrophic/geostrophic.cfg
  polaris/ocean/tasks/geostrophic/init.py
  polaris/ocean/tasks/geostrophic/viz.py
Labels: enhancement, ocean

#136 Fix conversion to absolute paths in config files
  polaris/config.py
Labels: bug, framework

#137 Fixes to `polaris suite` and `geostrophic` docs
  docs/developers_guide/deploying_spack.md
  docs/developers_guide/ocean/api.md
  docs/developers_guide/ocean/tasks/geostrophic.md
  docs/users_guide/quick_start.md
Labels: documentation, clean-up

#138 Set config.filepath after loading new config options
  polaris/run/__init__.py
  polaris/run/serial.py
Labels: bug, framework

#104 Port sphere transport test group for ocean components
  docs/developers_guide/ocean/api.md
  docs/developers_guide/ocean/tasks/correlated_tracers_2d.md
  docs/developers_guide/ocean/tasks/divergent_2d.md
  docs/developers_guide/ocean/tasks/index.md
  docs/developers_guide/ocean/tasks/nondivergent_2d.md
  docs/developers_guide/ocean/tasks/rotation_2d.md
  docs/users_guide/ocean/tasks/correlated_tracers_2d.md
  docs/users_guide/ocean/tasks/divergent_2d.md
  docs/users_guide/ocean/tasks/images/correlated_tracers_2d_convergence.png
  docs/users_guide/ocean/tasks/images/correlated_tracers_2d_init_tracer1.png
  docs/users_guide/ocean/tasks/images/correlated_tracers_2d_init_tracer2.png
  docs/users_guide/ocean/tasks/images/correlated_tracers_2d_init_tracer3.png
  docs/users_guide/ocean/tasks/images/correlated_tracers_2d_mixing.png
  docs/users_guide/ocean/tasks/images/divergent_2d_convergence.png
  docs/users_guide/ocean/tasks/images/divergent_2d_init_tracer1.png
  docs/users_guide/ocean/tasks/images/divergent_2d_init_tracer2.png
  docs/users_guide/ocean/tasks/images/divergent_2d_init_tracer3.png
  docs/users_guide/ocean/tasks/images/nondivergent_2d_convergence.png
  docs/users_guide/ocean/tasks/images/nondivergent_2d_filament.png
  docs/users_guide/ocean/tasks/images/nondivergent_2d_init_tracer1.png
  docs/users_guide/ocean/tasks/images/nondivergent_2d_init_tracer2.png
  docs/users_guide/ocean/tasks/images/nondivergent_2d_init_tracer3.png
  docs/users_guide/ocean/tasks/images/rotation_2d_convergence.png
  docs/users_guide/ocean/tasks/images/rotation_2d_init_tracer1.png
  docs/users_guide/ocean/tasks/images/rotation_2d_init_tracer2.png
  docs/users_guide/ocean/tasks/images/rotation_2d_init_tracer3.png
  docs/users_guide/ocean/tasks/index.md
  docs/users_guide/ocean/tasks/nondivergent_2d.md
  docs/users_guide/ocean/tasks/rotation_2d.md
  polaris/ocean/__init__.py
  polaris/ocean/suites/convergence.txt
  polaris/ocean/suites/sphere_transport.txt
  polaris/ocean/suites/sphere_transport_with_viz.txt
  polaris/ocean/tasks/cosine_bell/init.py
  polaris/ocean/tasks/sphere_transport/__init__.py
  polaris/ocean/tasks/sphere_transport/analysis.py
  polaris/ocean/tasks/sphere_transport/correlated_tracers_2d.cfg
  polaris/ocean/tasks/sphere_transport/divergent_2d.cfg
  polaris/ocean/tasks/sphere_transport/filament_analysis.py
  polaris/ocean/tasks/sphere_transport/forward.py
  polaris/ocean/tasks/sphere_transport/forward.yaml
  polaris/ocean/tasks/sphere_transport/init.py
  polaris/ocean/tasks/sphere_transport/mixing_analysis.py
  polaris/ocean/tasks/sphere_transport/nondivergent_2d.cfg
  polaris/ocean/tasks/sphere_transport/resources/__init__.py
  polaris/ocean/tasks/sphere_transport/resources/flow_types.py
  polaris/ocean/tasks/sphere_transport/resources/tracer_distributions.py
  polaris/ocean/tasks/sphere_transport/resources/wh-bl-gr-ye-re.rgb
  polaris/ocean/tasks/sphere_transport/rotation_2d.cfg
  polaris/ocean/tasks/sphere_transport/sphere_transport.cfg
  polaris/ocean/tasks/sphere_transport/viz.py
Labels: enhancement, ocean

#139 Use Separate geostrophic thresholds for h and norm. vel.
  docs/users_guide/ocean/tasks/geostrophic.md
  polaris/ocean/tasks/geostrophic/analysis.py
  polaris/ocean/tasks/geostrophic/geostrophic.cfg
Labels: clean-up, ocean

#142 Drop python 3.8
  .github/workflows/build_workflow.yml
  deploy/conda-dev-spec.template
  polaris/cache.py
  polaris/component.py
  polaris/io.py
  polaris/job/__init__.py
  polaris/list.py
  polaris/machines/__init__.py
  polaris/namelist.py
  polaris/ocean/vertical/grid_1d.py
  polaris/seaice/tasks/single_column/standard_physics/viz.py
  polaris/step.py
  polaris/streams.py
  polaris/suite.py
  polaris/viz/style.py
  polaris/yaml.py
  setup.cfg
Labels: clean-up, deployment

#140 Switch spherical viz to use `uxarray` and `holoviews`
  deploy/conda-dev-spec.template
  docs/developers_guide/api.md
  docs/developers_guide/framework/images/cosine_bell_final_mpas.png
  docs/developers_guide/framework/visualization.md
  docs/developers_guide/ocean/api.md
  docs/developers_guide/ocean/tasks/correlated_tracers_2d.md
  docs/developers_guide/ocean/tasks/cosine_bell.md
  docs/developers_guide/ocean/tasks/divergent_2d.md
  docs/developers_guide/ocean/tasks/geostrophic.md
  docs/developers_guide/ocean/tasks/nondivergent_2d.md
  docs/developers_guide/ocean/tasks/rotation_2d.md
  docs/users_guide/ocean/tasks/correlated_tracers_2d.md
  docs/users_guide/ocean/tasks/divergent_2d.md
  docs/users_guide/ocean/tasks/geostrophic.md
  docs/users_guide/ocean/tasks/nondivergent_2d.md
  docs/users_guide/ocean/tasks/rotation_2d.md
  polaris/ocean/__init__.py
  polaris/ocean/tasks/cosine_bell/__init__.py
  polaris/ocean/tasks/cosine_bell/cosine_bell.cfg
  polaris/ocean/tasks/cosine_bell/viz.py
  polaris/ocean/tasks/geostrophic/__init__.py
  polaris/ocean/tasks/geostrophic/geostrophic.cfg
  polaris/ocean/tasks/geostrophic/viz.py
  polaris/ocean/tasks/sphere_transport/__init__.py
  polaris/ocean/tasks/sphere_transport/sphere_transport.cfg
  polaris/ocean/tasks/sphere_transport/viz.py
  polaris/viz/__init__.py
  polaris/viz/spherical.py
Labels: enhancement, framework, ocean

#143 Clean up `plot_horiz_field()`
  docs/developers_guide/api.md
  polaris/ocean/tasks/manufactured_solution/viz.py
  polaris/viz/planar.py
Labels: clean-up, framework

#135 Allow multiple tasks to be set up with `-t` flag
  polaris/setup.py
Labels: enhancement, framework

#145 Fix path to cached polaris data on morpheus
  polaris/machines/morpheus.cfg
Labels: deployment
