Repository E3SM-Project/polaris, pull requests merged in 2023-03, with the labels that each got.

#22 Fix deprecated calls to `importlib.resources`
  .github/workflows/build_workflow.yml
  deploy/conda-dev-spec.template
  deploy/default.cfg
  polaris/cache.py
  polaris/component.py
  polaris/io.py
  polaris/job/__init__.py
  polaris/list.py
  polaris/namelist.py
  polaris/ocean/vertical/grid_1d.py
  polaris/step.py
  polaris/streams.py
  polaris/suite.py
  polaris/version.py
  setup.cfg
Labels: clean-up, framework

#23 Add support for model config described by yaml files
  deploy/conda-dev-spec.template
  docs/developers_guide/api.md
  docs/developers_guide/command_line.md
  docs/developers_guide/organization.md
  polaris/model_step.py
  polaris/ocean/config/__init__.py
  polaris/ocean/config/output.yaml
  polaris/ocean/model/__init__.py
  polaris/ocean/model/ocean_model_step.py
  polaris/ocean/mpas_ocean.cfg
  polaris/ocean/streams/streams.output
  polaris/ocean/tests/global_convergence/cosine_bell/forward.py
  polaris/ocean/tests/global_convergence/cosine_bell/forward.yaml
  polaris/ocean/tests/global_convergence/cosine_bell/namelist.forward
  polaris/ocean/tests/global_convergence/cosine_bell/streams.forward
  polaris/step.py
  polaris/streams.py
  polaris/yaml.py
  setup.cfg
Labels: enhancement, framework, ocean

#24 Add ocean model descriptions to docs
  docs/developers_guide/ocean/index.md
  docs/developers_guide/ocean/models/index.md
  docs/developers_guide/ocean/models/mpas_ocean.md
  docs/users_guide/ocean/index.md
Labels: documentation, ocean

#26 General clean-up PR
  polaris/job/__init__.py
  polaris/model_step.py
  polaris/ocean/tests/global_convergence/__init__.py
  polaris/ocean/tests/global_convergence/cosine_bell/__init__.py
  polaris/ocean/tests/global_convergence/cosine_bell/forward.py
  polaris/ocean/vertical/__init__.py
  polaris/suite.py
Labels: clean-up, framework, ocean

#29 Ocean resources from config options
  docs/developers_guide/ocean/api.md
  docs/developers_guide/ocean/framework.md
  docs/developers_guide/ocean/index.md
  docs/users_guide/quick_start.md
  polaris/model_step.py
  polaris/ocean/model/ocean_model_step.py
  polaris/ocean/mpas_ocean.cfg
  polaris/ocean/ocean.cfg
  polaris/ocean/tests/global_convergence/cosine_bell/__init__.py
  polaris/ocean/tests/global_convergence/cosine_bell/forward.py
  polaris/ocean/tests/global_convergence/cosine_bell/init.py
Labels: clean-up, ocean
