Repository E3SM-Project/polaris, pull requests merged in 2024-10, with the labels that each got.

#233 Enhance spherical tracer transport test viz
  docs/developers_guide/framework/visualization.md
  docs/developers_guide/ocean/tasks/correlated_tracers_2d.md
  docs/developers_guide/ocean/tasks/divergent_2d.md
  docs/developers_guide/ocean/tasks/nondivergent_2d.md
  docs/developers_guide/ocean/tasks/rotation_2d.md
  polaris/ocean/tasks/sphere_transport/sphere_transport.cfg
  polaris/viz/spherical.py
Labels: enhancement

#235 Fixup graph paths for cached inputs
  polaris/ocean/tasks/cosine_bell/forward.py
  polaris/ocean/tasks/geostrophic/forward.py
  polaris/ocean/tasks/sphere_transport/forward.py
Labels: bug, ocean

#232 Set default `time_integrator` for Omega
  polaris/ocean/convergence/convergence.cfg
  polaris/ocean/tasks/manufactured_solution/__init__.py
  polaris/ocean/tasks/manufactured_solution/manufactured_solution.cfg
Labels: bug, ocean

#238 Clean up the docs
  deploy/conda-dev-spec.template
  docs/conf.py
Labels: documentation, clean-up, deployment

#239 Map time integrator for convergence tests
  polaris/ocean/convergence/forward.py
  polaris/ocean/tasks/manufactured_solution/__init__.py
Labels: ocean
