Repository E3SM-Project/polaris, pull requests merged in 2025-06, with the labels that each got.

#325 External gravity wave
  docs/developers_guide/ocean/tasks/external_gravity_wave.md
  docs/developers_guide/ocean/tasks/index.md
  docs/users_guide/ocean/tasks/external_gravity_wave.md
  docs/users_guide/ocean/tasks/images/external_gravity_wave_convergence.png
  docs/users_guide/ocean/tasks/index.md
  polaris/ocean/convergence/__init__.py
  polaris/ocean/convergence/analysis.py
  polaris/ocean/convergence/convergence.cfg
  polaris/suites/ocean/convergence.txt
  polaris/tasks/ocean/add_tasks.py
  polaris/tasks/ocean/external_gravity_wave/__init__.py
  polaris/tasks/ocean/external_gravity_wave/analysis.py
  polaris/tasks/ocean/external_gravity_wave/egw_global_time_step.cfg
  polaris/tasks/ocean/external_gravity_wave/egw_local_time_step.cfg
  polaris/tasks/ocean/external_gravity_wave/external_gravity_wave.cfg
  polaris/tasks/ocean/external_gravity_wave/forward.py
  polaris/tasks/ocean/external_gravity_wave/forward.yaml
  polaris/tasks/ocean/external_gravity_wave/init.py
  polaris/tasks/ocean/external_gravity_wave/local_time_step.yaml
  polaris/tasks/ocean/external_gravity_wave/lts_regions.py
Labels: enhancement, ocean

#336 Fix incorrect import in external gravity wave
  polaris/tasks/ocean/external_gravity_wave/__init__.py
Labels: bug, ocean

#333 Switch to writing files in CDF5 (`NETCDF3_64BIT_DATA`) format
  deploy/default.cfg
  docs/developers_guide/framework/model.md
  docs/developers_guide/organization/steps.md
  docs/users_guide/ocean/tasks/overflow.md
  docs/users_guide/ocean/tasks/template.md
  polaris/default.cfg
  polaris/mesh/spherical.py
  polaris/model_step.py
  polaris/streams.py
  polaris/version.py
Labels: enhancement, ocean

#338 Fix calls to write_job_script()
  polaris/setup.py
Labels: bug, framework

#335 Fix a bug in the resolution limit given in the barotropic gyre case
  polaris/tasks/ocean/barotropic_gyre/init.py
Labels: bug, ocean

#343 Change `pre-commit` hook ID to `ruff-check`
  .pre-commit-config.yaml
Labels: ci
