Repository E3SM-Project/polaris, pull requests merged in 2025-02, with the labels that each got.

#256 Switch to `mosaic` for all plotting functionality
  deploy/conda-dev-spec.template
  docs/conf.py
  docs/developers_guide/api.md
  docs/developers_guide/framework/visualization.md
  polaris/mpas/__init__.py
  polaris/mpas/mask.py
  polaris/ocean/tasks/baroclinic_channel/init.py
  polaris/ocean/tasks/baroclinic_channel/rpe/analysis.py
  polaris/ocean/tasks/baroclinic_channel/viz.py
  polaris/ocean/tasks/barotropic_gyre/analysis.py
  polaris/ocean/tasks/barotropic_gyre/init.py
  polaris/ocean/tasks/cosine_bell/cosine_bell.cfg
  polaris/ocean/tasks/geostrophic/geostrophic.cfg
  polaris/ocean/tasks/ice_shelf_2d/viz.py
  polaris/ocean/tasks/inertial_gravity_wave/viz.py
  polaris/ocean/tasks/manufactured_solution/viz.py
  polaris/ocean/tasks/sphere_transport/sphere_transport.cfg
  polaris/version.py
  polaris/viz/planar.py
  polaris/viz/spherical.py
Labels: framework, ocean

#280 Remove most of user's quick start
  docs/users_guide/invalid_quick_start.md
  docs/users_guide/quick_start.md
Labels: documentation

#281 Update omega pr suite
  polaris/ocean/suites/omega_pr.txt
Labels: bug, ocean

#276 Update tests to support Omega time slices
  polaris/ocean/tasks/cosine_bell/forward.yaml
  polaris/ocean/tasks/manufactured_solution/forward.yaml
  polaris/ocean/tasks/sphere_transport/forward.yaml
Labels: enhancement, ocean, Omega PR finished
